<header>
  <h1>Simple Pricing.</h1>
  <h1>Try before you buy.</h1>
</header>

<main>

  <section>
    <% @prices.each.with_index do |p, i| %>
      <div class="price">
        <div class = deal id=<%= "deal#{i}" %>>
          <h3><%= p[:name] %></h3>
          <h2>$<%= p[:cost] %></h2>
          <h5>PER MONTH</h5>
        </div>
        <ul>
          <%p[:stats].each do |stat|%>
            <li><%= stat.capitalize %></li>
          <% end %>
        </ul>
        <div class="button">
          <button type="button" name="choose">Choose</button>
        </div>
      </div>
    <% end %>
  </section>

  <section>
    <% @info.each do |i| %>
      <article class="info">
        <h4><%= i[:header] %></h4>
        <p>
          <%= i[:body] %>
        </p>
      </article>
    <% end %>
  </section>
</main>
