<header>
  <h1>Simple Pricing.</h1>
  <h1>Try before you buy.</h1>
</header>

<main>

  <section>
    <% @prices.each do |p| %>
      <div class="price">
        <h3><%= p[:name] %></h3>
        <h2>$<%= p[:cost] %></h2>
        <h5>PER MONTH</h5>
        <ul>
          <%p[:stats].each do |i|%>
            <li><%= i.capitalize %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>

  <section>
    <% @info.each do |i| %>
      <article>
        <h4><%= i[:header] %></h4>
        <p>
          <%= i[:body] %>
        </p>
      </article>
    <% end %>
  </section>
</main>
